<div id='a_wrapper' class="stuff_wrapper">

	<div id="ADDFORM">
	</div>

	<div id="LIST">
	</div>

</div>

<script>
var ARecordModel = new Aeon.UI.Model();
ARecordModel.fields = {
	'ipv4_address': {},
	'hostname': {},
	'id': {type: 'hidden'},
	'domain_id': {type: 'hidden', value: '${domain.id}'}
};
ARecordModel.container = $("#a_wrapper");
ARecordModel.base_url = "/domains/${domain.id}";
ARecordModel.class_name = "a_record";

#{secure.check "admin"}
ARecordModel.isAdmin = true;
ARecordModel.actions.delete = true;
ARecordModel.actions.edit = true;
#{/secure.check}


ARecordModel.init();
</script>