<div id='mx_wrapper' class="stuff_wrapper">

	<div id="ADDFORM">
	</div>

	<div id="LIST">
	</div>

</div>

<script>
var MxRecordModel = new Aeon.UI.Model();
MxRecordModel.fields = {
	'target': {domElement: 'input'},
	'priority': {domElement: 'input'},
	'hostname': {domElement: 'input'},
	'id': {type: 'hidden'},
	'domain_id': {type: 'hidden', value: '${domain.id}'}
};
MxRecordModel.container = $("#mx_wrapper");
MxRecordModel.base_url = "/domains/${domain.id}";
MxRecordModel.class_name = "mx_record";
MxRecordModel.init();
</script>