<div id='domain_wrapper' class="stuff_wrapper">

	<div id="ADDFORM">
	</div>

	<div id="LIST">
	</div>

</div>

<script>
var DomainRecordModel = new Aeon.UI.Model();
DomainRecordModel.fields = {
    'retry_time': {css_class: 'retry'},
    'refresh_time': {},
    'serial_number': {domElement: 'span', css_class: 'serial_number_span center_text'},
	'responsible_party': {},
	'name': {},
	'id': {type: 'hidden'},
	'selected': {domElement:'checkbox'}
};
DomainRecordModel.actions = {delete: true, edit: true};
DomainRecordModel.container = $("#domain_wrapper");
DomainRecordModel.class_name = "domain";

DomainRecordModel.init();
</script>