#{set 'moreScripts'}
	#{script 'models/domain.js' /}
#{/set}

<form data-bind="submit: addDomain">
	<input data-bind="value: new_domain_name" placeholder="yourdomain.com" />
	<input data-bind="value: new_domain_responsible_party" placeholder="someone@yourdomain.com" />
	<input data-bind="value: new_domain_refresh_time" placeholder="3600" />
	<input data-bind="value: new_domain_retry_time" placeholder="86400" />
	
    <button type="submit">Add</button>
</form>

<ul data-bind="foreach: domains">
    <li>
        <input data-bind="value: name, valueUpdate: 'afterkeydown', event: { blur: $parent.saveDomain }" />
		<input data-bind="value: responsible_party, valueUpdate: 'afterkeydown', event: { blur: $parent.saveDomain }" />
		<span data-bind="text: serial_number"></span>
		<input data-bind="value: refresh_time, valueUpdate: 'afterkeydown', event: { blur: $parent.saveDomain }" />
		<input data-bind="value: retry_time, valueUpdate: 'afterkeydown', event: { blur: $parent.saveDomain }" />
		
        <a href="#" data-bind="click: $parent.removeDomain">Delete</a> |
        <a href="#" data-bind="click: $parent.editRecords">Edit Records</a>
    </li> 
</ul>


<script type="text/javascript">

ko.applyBindings(new DomainViewModel());

</script>