#{extends 'main.html' /}
#{set title:'Home' /}

<div id='domains' class='list'>
	<h1>Domains</h1>
	#{include 'domains/domain.html' /}
</div>

<div class="common_records">
    <h1>Common Records</h1>
    <p>For Selected Domains</p>
    <div id='a_records' class='list'>
    	<h3>A Records</h3>
    </div>

    <div id='cname_records' class='list'>
    	<h3>CNAME Records</h3>
    </div>


    <div id='mx_records' class='list'>
    	<h3>MX Records</h3>
    </div>

    <div id='txt_records' class='list'>
    	<h3>TXT Records</h3>
    </div>
</div>